WinFormShopBridge/Connected Services/ShopBridgeService/ShopBridgeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopBridgeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopBridgeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInventoryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryDetail" nillable="true" type="tns:InventoryDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryDetail" nillable="true" type="tns:ArrayOfInventoryDetail" />
  <xs:complexType name="InventoryDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryDetail" nillable="true" type="tns:InventoryDetail" />
</xs:schema>